In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Alyangula,-13.85,136.42,59.00,93,0,1.12,AU,2020-07-06 21:25:36
1,1,Mataura,-46.19,168.86,42.67,92,99,6.13,NZ,2020-07-06 21:25:36
2,2,Constitucion,-35.33,-72.42,52.09,69,98,5.26,CL,2020-07-06 21:25:36
3,3,Anchorage,61.22,-149.90,62.60,67,75,8.05,US,2020-07-06 21:21:29
4,4,Ushuaia,-54.80,-68.30,33.80,80,2,14.99,AR,2020-07-06 21:25:36

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
5,5,Vaini,-21.20,-175.20,77.00,88,40,10.29,TO,2020-07-06 21:25:36
11,11,Maceio,-9.67,-35.74,75.20,78,20,3.36,BR,2020-07-06 21:22:04
12,12,Victoria,22.29,114.16,84.00,74,99,5.99,HK,2020-07-06 21:25:37
13,13,Maraba,-5.37,-49.12,86.00,58,33,0.92,BR,2020-07-06 21:25:38
14,14,Georgetown,5.41,100.34,80.60,94,40,3.36,MY,2020-07-06 21:25:38
22,22,Zaozhuang,34.86,117.55,75.34,91,4,3.69,CN,2020-07-06 21:25:39
24,24,Russell,32.35,-85.20,84.99,83,90,6.93,US,2020-07-06 21:25:39
25,25,Mana,5.66,-53.78,79.90,87,7,9.46,GF,2020-07-06 21:25:39
27,27,Tucuma,-0.18,-50.05,78.91,88,18,6.29,BR,2020-07-06 21:25:40
29,29,Meulaboh,4.14,96.13,76.37,87,97,5.10,ID,2020-07-06 21:25:40

In [11]:
preferred_cities_df.count()

City_ID       218
City          218
Lat           218
Lng           218
Max Temp      218
Humidity      218
Cloudiness    218
Wind Speed    218
Country       218
Date          218
dtype: int64

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp    Lat     Lng Hotel Name
5        Vaini      TO     77.00 -21.20 -175.20
11      Maceio      BR     75.20  -9.67  -35.74
12    Victoria      HK     84.00  22.29  114.16
13      Maraba      BR     86.00  -5.37  -49.12
14  Georgetown      MY     80.60   5.41  100.34
22   Zaozhuang      CN     75.34  34.86  117.55
24     Russell      US     84.99  32.35  -85.20
25        Mana      GF     79.90   5.66  -53.78
27      Tucuma      BR     78.91  -0.18  -50.05
29    Meulaboh      ID     76.37   4.14   96.13

In [13]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [24]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [25]:
hotel_df.head(10)

          City Country  Max Temp    Lat     Lng                     Hotel Name
5        Vaini      TO     77.00 -21.20 -175.20            Keleti Beach Resort
11      Maceio      BR     75.20  -9.67  -35.74  Mercure Maceio Pajucara Hotel
12    Victoria      HK     84.00  22.29  114.16             Mini Hotel Central
13      Maraba      BR     86.00  -5.37  -49.12             Hotel Del Principe
14  Georgetown      MY     80.60   5.41  100.34                 Cititel Penang
22   Zaozhuang      CN     75.34  34.86  117.55                Diaoyutai Hotel
24     Russell      US     84.99  32.35  -85.20                           Macs
25        Mana      GF     79.90   5.66  -53.78                      LE SAMANA
27      Tucuma      BR     78.91  -0.18  -50.05
29    Meulaboh      ID     76.37   4.14   96.13                      Kost Pria

In [27]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, 
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [29]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [30]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))