In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
import numpy as np
# Import the API key.
from config import g_key

In [2]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [3]:
# Store the CSV you saved created in part 2 into a DataFrame.
city_data_df = pd.read_csv("challenge_data/WeatherPy_vacation.csv")
city_data_df.set_index("City")

,Unnamed: 0,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
City,,,,,,,
East London,3,ZA,77.94,overcast clouds,-33.02,27.91,Tu Casa
Jamestown,11,US,84.20,clear sky,42.10,-79.24,Hampton Inn & Suites Jamestown
Hithadhoo,12,MV,85.21,overcast clouds,-0.60,73.08,Scoop Guest House
Lorengau,16,PG,82.31,overcast clouds,-2.02,147.27,Lorengau Harbourside Hotel
Tiznit,20,MA,82.67,clear sky,29.58,-9.50,NaN
...,...,...,...,...,...,...,...
Catuday,547,PH,82.56,broken clouds,16.29,119.81,GResort
Rockport,552,US,89.60,broken clouds,28.02,-97.05,Holiday Inn Express & Suites Rockport - Bay View
Grants,555,US,82.40,clear sky,35.15,-107.85,"Motel 6 Grants, NM"
Kuching,556,MY,75.20,scattered clouds,1.55,110.33,Hilton Kuching
Porto Novo,559,BJ,78.80,scattered clouds,6.50,2.60,Tour Eiffel Hotel Benin

In [4]:
vacation1_df = city_data_df.loc[city_data_df["City"]=="Silleda", ["City", "Country", "Max Temp", "Current Description", "Lat", "Lng", "Hotel Name"]]

In [5]:
vacation1_df

        City Country  Max Temp Current Description   Lat   Lng   Hotel Name
141  Silleda      ES      86.0          few clouds  42.7 -8.25  Hotel Ramos

In [6]:
vacation2_df = city_data_df.loc[city_data_df["City"]=="Isernia", ["City", "Country", "Max Temp", "Current Description", "Lat", "Lng", "Hotel Name"]]

In [7]:
vacation3_df = city_data_df.loc[city_data_df["City"]=="Ebersberg", ["City", "Country", "Max Temp", "Current Description", "Lat", "Lng", "Hotel Name"]]

In [8]:
vacation4_df = city_data_df.loc[city_data_df["City"]=="Argentan", ["City", "Country", "Max Temp", "Current Description", "Lat", "Lng", "Hotel Name"]]

In [9]:
destination_df=pd.concat([vacation1_df, vacation2_df, vacation3_df, vacation4_df])
destination_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
141,Silleda,ES,86.00,few clouds,42.70,-8.25,Hotel Ramos
90,Isernia,IT,87.01,broken clouds,41.60,14.24,Hotel Europa Depandance
140,Ebersberg,DE,82.99,broken clouds,48.08,11.97,Hotel-Gasthof Huber
54,Argentan,FR,82.40,clear sky,48.75,-0.02,Hostellerie De La Renaissance

In [21]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

In [22]:
# Store the DataFrame Row.
destination_info = [info_box_template.format(**row) for index, row in destination_df.iterrows()]
for i, r in destination_df.iterrows():
    print(r)
    print(info_box_template.format(**r))
    break

City                       Silleda
Country                         ES
Max Temp                        86
Current Description     few clouds
Lat                           42.7
Lng                          -8.25
Hotel Name             Hotel Ramos
Name: 141, dtype: object

<dl>
<dt>Hotel Name</dt><dd>Hotel Ramos</dd>
<dt>City</dt><dd>Silleda</dd>
<dt>Country</dt><dd>ES</dd>
<dt>Current Weather</dt><dd>few clouds and 86.0 Â°F</dd>
</dl>

In [30]:
locations = destination_df[["Lat", "Lng"]]
# Latitude-longitude pairs
way = [(42.7, -8.25), (48.75, -0.02)]
Isernia = (41.6, 14.24)
Ebersberg = (48.08, 11.97)

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

Isernia2Ebersberg_via_SilledaArgentan = gmaps.directions_layer(
        Isernia, Ebersberg, waypoints= way,
        travel_mode='DRIVING')
#fig.add_layer(Isernia2Ebersberg_via_SilledaArgentan)

marker_layer = gmaps.marker_layer(locations, info_box_content=destination_info)
fig.add_layer(marker_layer)


fig

Figure(layout=FigureLayout(height='420px'))